<script is:inline>
	$(document).ready(function () {
		var clickBtnFormulario = document.getElementById("btnFormulario");
		clickBtnFormulario.addEventListener("click", function (event) {
			var objeto = {
				nombre: "",
				apellidos: "",
				numeroCel: 0,
				correo: "",
			};
			objeto.nombre = document.getElementById("nombre").value;
			objeto.apellidos = document.getElementById("apellidos").value;
			objeto.numeroCel = document.getElementById("numeroCel").value;
			objeto.correo = document.getElementById("correo").value;
			var validaciones = 0;
			if (objeto.nombre == "") {
				document
					.getElementById("nombre")
					.setAttribute("style", "background:#ff000098");
			} else {
				document
					.getElementById("nombre")
					.setAttribute("style", "background:white");
				validaciones += 1;
			}

			if (objeto.apellidos == "") {
				document
					.getElementById("apellidos")
					.setAttribute("style", "background:#ff000098");
			} else {
				document
					.getElementById("apellidos")
					.setAttribute("style", "background:white");
				validaciones += 1;
			}

			if (objeto.numeroCel == "") {
				document
					.getElementById("numeroCel")
					.setAttribute("style", "background:#ff000098");
			} else {
				validaciones += 1;
				document
					.getElementById("numeroCel")
					.setAttribute("style", "background:white");
			}

			if (
				/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i.test(
					objeto.correo
				)
			) {
				validaciones += 1;
				document
					.getElementById("correo")
					.setAttribute("style", "background:white");
			} else {
				document
					.getElementById("correo")
					.setAttribute("style", "background:#ff000098");
			}
			if (validaciones == 4) {
				alert("Datos Guardados correctamente");
			} else {
				alert("Datos en rojo no insertados o están mal insertados.");
			}
		});
	});
</script>

<div id="contactenosContent">
	<h1>Contáctenos</h1>
	<form class="form-register">
		<div class="contenedor-inputs">
			<div id="ContactoHelpBlock" class="form-text">
				Escríbenos y en breve nos comunicaremos contigo.
			</div>
			<input
				type="text"
				id="nombre"
				name="nombre"
				value=""
				placeholder="Ingrese sus nombres"
				class="input-48 mt-4"
				required
			/>

			<input
				type="text"
				id="apellidos"
				name="apellidos"
				placeholder="Ingrese sus apellidos"
				class="input-48 mt-4"
				required
			/>

			<input
				type="number"
				id="numeroCel"
				name="numeroCel"
				placeholder="Ingrese su numero de celular"
				class="input-100"
				required
			/>

			<input
				type="email"
				id="correo"
				name="correo"
				placeholder="Ingrese su correo"
				class="input-100"
				required
			/>

			<input
				id="btnFormulario"
				type="submit"
				value="Enviar"
				class="btn-enviar"
			/>
		</div>
	</form>
</div>

<style>
	#contactenosContent {
		padding-top: 10px;
		width: 100%;
	}

	* {
		box-sizing: border-box;
	}
	#contactenosContent h1 {
		color: rgb(92, 88, 88);
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.form-register {
		width: 98%;
		max-width: 500px;
		margin: auto;
		background: white;
		border-radius: 10px;
	}
	.p {
		color: #ff000098;
	}
	.form__titulo {
		background: deepskyblue;
		color: #fff;
		padding: 20px;
		text-align: center;
		font-weight: 100;
		font-size: 30px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom: 5px solid rgb(69, 102, 42);
	}
	.contenedor-inputs {
		padding: 40px 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between; /*para que nos de un espacio entre los inputs del formulario*/
	}
	input {
		margin-bottom: 15px;
		padding: 15px;
		font-size: 16px;
		border-radius: 3px;
		border: 1px solid darkgreen; /*Para darle un color a los border de las casillas*/
	}
	.input-48 {
		width: 48%;
	}
	.input-100 {
		width: 100%;
	}
	.btn-enviar {
		background: rgba(47, 75, 22, 0.747);
		color: #fff;
		margin: auto;
		padding: 10px 40px;
		cursor: pointer;
		font-size: 20px;
	}
	.btn-enviar active {
		transform: scale(
			1.1
		); /*Para que cuando le demos click al boton se ponga más grande*/
	}
	.form__link {
		width: 100%;
		margin: 7px;
		text-align: center;
		font-size: 14px;
	}
</style>
