<div id="nosotrosContent">
    <div class="centrar bold">
        <h1>Protein club</h1>
        <br />
        
        <h2>Somos una empresa dedicada a la comercialización de productos para una nutrición saludable, 
            que tiene los más altos estandares de calidad</h2><br>
        <h2>Los productos Herbalife Nutrition son elaborados con los mejores ingredientes provenientes
         de diversas partes del mundo, usamos tecnología de primer nivel y aportamos innovación a 
         cada producto que creamos. Trabajamos con un Consejo Consultor de Nutrición y más de 300 
         científicos expertos en los campos de nutrición y salud. </h2><br> 
                                           
    </div>
</div>

<style>
    #nosotrosContent{
        padding-top: 10px;
        width: 100%;
    }
    .centrar{
        text-align: center;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 5em;
        margin-bottom: 5em;
    } 
</style>
