<!-- <div class="container">
    <img src="/images/logo_footer.jpg">
</div>  -->
<div class="row text-white col-11">
    <div class="col-11 mt-2 logo">
        <p >
            <img src="../assets/images/CR7.png">
        </p>
    </div>
    <div class="col-11 datos">
        <p>
            <i class="fa-solid fa-location-dot"></i> Calle21W #25JJ-15L <br> <i class="fa-solid fa-mobile-screen-button"></i> (604)4962753 <br><i class="fa-regular fa-envelope"></i> Luisa@AliasJJ.fit
                 
        </p>
    </div>
    <div class="col-11 mt-2 terminos">
        <p>
            Términos de servicio <br /> Política de Privacidad <br />
            <i class="fa-regular fa-copyright"></i> ProteinCLUB,inc.
        </p>
    </div>
</div>

<style>
    .row {
        margin: 0px;
    }
    .terminos{
        font-weight: 500;
        text-align: right;
    }
    .datos{
        text-align: center;
    }
    .logo{
        text-align: left;
    }

</style>
