<!-- <div class="container">
    <img src="/images/logo_footer.jpg">
</div>  -->
<div class="row text-white col-11 mt-4">
    <div class="logo_footer">
        <p >
            <img src="https://i.postimg.cc/sDrTg3z6/2-Recurso-1a-1-1.png">
        </p>
    </div>
    <div class="col-11 datos">
        <p>
            <i class="fa-solid fa-location-dot"></i> Calle21W #25JJ-15L <br> <i class="fa-solid fa-mobile-screen-button"></i> (604)4962753 <br><i class="fa-regular fa-envelope"></i> Luisa@AliasJJ.fit
                 
        </p>
    </div>
    <div class="col-12 mt-2 terminos">
        <p>
            Términos de servicio <br /> Política de Privacidad <br />
            <i class="fa-regular fa-copyright"></i> ProteinCLUB,inc.
        </p>
    </div>
</div>

<style>
    .row {
        margin: 0px;
    }
    .terminos{
        font-weight: 500;
        text-align: right;
    }
    .datos{
        text-align: center;
    }
    .logo_footer{
        position: flex;
        width: 3rem;
        height: 8rem;
    }

</style>
