<div>
    <h1>soy un footer</h1>
</div>

<style is:global>
	
	footer {
        text-align: center;
	    padding: 40px 0 30px ;
		background-color: rgb(0, 0, 37);
        
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
    .header_content {
        position: absolute;
        width: 100%;
        height: 100px;
        background-color: #e0e0e0;
    }
    nav {
        position: absolute;
        top: 40px;
        right: 100px;
    }
    ul {
        display: inline-flex;
        list-style: none;
    }
    nav a {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        line-height: 100%;
        text-decoration: none;
        font-weight: 500;
        font-size: 26px;
        font-family: Palatino Linotype;
        color: #000000;
    }
    nav li:hover {
        background-color: #fff;
        color: #000;
    }

</style>


