<!-- <div class="container">
    <img src="/images/logo_footer.jpg">
</div>  -->
<div class="row text-white mx-0 mt-1 mx-1 ">
    <div class=" mt-0  col-5 ">
   
            <img class="logo_footer" src="https://i.postimg.cc/sDrTg3z6/2-Recurso-1a-1-1.png">

    </div>
    <div class=" mt-2  col-10 ">
        <img class="logo_ig" src="https://i.postimg.cc/7LhVWV80/instagram.png">
        <img class="logo_fb" src="https://i.postimg.cc/cCx6FFPN/facebook.png">
        <img class="logo_tw" src="https://i.postimg.cc/cJGxDD85/gorjeo.png">
        
    </div>
    <div class=" mt-2  col-10 ">
        <img class="cuadrito" src="https://i.postimg.cc/KYj6DB0s/cuadrito.png">

    </div>
    <div class="mt-3 col-10 mb-6 datos">
        
            <i class="fa-solid fa-location-dot"></i> Calle21W #25JJ-15L <br> <i class="fa-solid fa-mobile-screen-button"></i> (604)4962753 <br><i class="fa-regular fa-envelope"></i> Luisa@AliasJJ.fit

        <div class="mt-2 col-12 mb-2 terminos">
        
                Términos de servicio <br /> Política de Privacidad <br />
                <i class="fa-regular fa-copyright"></i> ProteinCLUB,inc.
        
        </div>
    </div>
</div>

<style>
    .row {
        margin: 1px;
    }
    .terminos{
        position: flex;
        font-weight: 500;
        text-align: right;
    }
    .datos{
        text-align: center;
    }
    .logo_footer{
        position: absolute;       
        width: 200px;
    }
    .logo_ig{
        width: 40px;
    }
    .logo_fb{
        width: 40px;
    }
    .logo_tw{
        width: 45px;
    }
    .cuadrito{
        width: 65px;
        bottom:40;
    }

</style>
