<script is:inline>
    $(document).ready(function () {
        $("#productosContent").hide();
        $("#recetasContent").hide();
        $("#deportivosContent").hide();
        $("#nosotrosContent").hide();

        $("#homeNav").click(function () {
            $("#principalContent").show();
            $("#productosContent").hide();
            $("#recetasContent").hide();
            $("#deportivosContent").hide();
            $("#nosotrosContent").hide();
        });

        $(".logoNav").click(function () {
            $("#principalContent").show();
            $("#productosContent").hide();
            $("#recetasContent").hide();
            $("#deportivosContent").hide();
            $("#nosotrosContent").hide();
        });
        $("#productosNav").click(function () {
            $("#productosContent").show();
            $("#principalContent").hide();
            $("#recetasContent").hide();
            $("#deportivosContent").hide();
            $("#nosotrosContent").hide();
        });
        $("#recetasNav").click(function () {
            $("#recetasContent").show();
            $("#principalContent").hide();
            $("#productosContent").hide();
            $("#deportivosContent").hide();
            $("#nosotrosContent").hide();
        });
        $("#deportivosNav").click(function () {
            $("#deportivosContent").show();
            $("#principalContent").hide();
            $("#productosContent").hide();
            $("#recetasContent").hide();
            $("#nosotrosContent").hide();
        });
        $("#nosotrosNav").click(function () {
            $("#nosotrosContent").show();
            $("#principalContent").hide();
            $("#productosContent").hide();
            $("#recetasContent").hide();
            $("#deportivosContent").hide();
        });
    });
</script>

<div class="header_content">
    <img
        loading="lazy"
        class="logoNav"
        src="/src/assets/images/logo.png"
        alt="Logo Protein Club"
    />

    <nav>
        <ul>
            <li id="homeNav"><a href="#"><i class="fa-sharp fa-solid fa-house"></i></a></li>
            <li id="productosNav"><a href="#">Productos</a></li>
            <li id="recetasNav"><a href="#">Recetas</a></li>
            <li id="deportivosNav"><a href="#">Deportivos</a></li>
            <li id="nosotrosNav"><a href="#">Nosotros</a></li>
        </ul>
    </nav>
</div>

<style>
    .logoNav {
        position: absolute;
        top: 10px;
        left: 100px;
        width: 93px;
        height: 80px;
        /* transform: translate(-50%, -50%); */
    }
    .header_content {
        position: absolute;
        width: 100%;
        height: 100px;
        background-color: #e0e0e0;
    }
    nav {
        position: absolute;
        top: 40px;
        right: 100px;
    }
    ul {
        display: inline-flex;
        list-style: none;
    }
    nav a {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        line-height: 100%;
        text-decoration: none;
        font-weight: 500;
        font-size: 26px;
        font-family: Palatino Linotype;
        color: #000000;
    }
    nav li:hover {
        border-radius: 10px;
        padding: 4px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
            0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
            8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);

        transform: scale(1.02) translateY(-0.3rem);
    }
</style>
