---
//EN principal van los tres slider de index
import Productos from "./productos.astro";
import Recetas from "./recetas.astro";
import Deportivo from "./deportivo.astro";
---
<div id="principalContent">
    <Productos />
    <Recetas />
    <Deportivo />
</div>

